data/*
data/

.ipynb_checkpoints/*
.ipynb_checkpoints/

real_datasets/
real_datasets/*

checkpoints/*
checkpoints/

build/
build/*

trash_classify.egg-info/
trash_classify.egg-info/*

.env

.python-version
